import java.util.Scanner;

public class Main{
     public static void main(String [] args) {
          Scanner pidor=new Scanner(System.in);
          System.out.println();
 int a =pidor.nextInt();
System.out.println();
int b=pidor.nextInt();
System.out.println("Сложение");
System.out.println( a+b );
System.out.println("Вычитание");
System.out.println( a-b);
System.out.println("Умножение");
System.out.println(a*b);
System.out.println("Деление");
System.out.println(a/b);



     }

}
